.box {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.image-style1 {
  width: 110px;
  height: 110px;
}

.image-style2 {
  width: 210px;
  height: 110px;
}

.titleheader:first-child {
  font-size: 22px;
}

.titleheader {
  font-weight: bold;
  text-transform: none;
  font-size: 22px;
  color: #002c56;
}
